@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<html>
<body>
    <form asp-controller="Home" asp-action="Calc" >
        <label>X:</label>
        <input type="number" name="x"/>
        <select name="operation">
            <option value="+" >+</option>
            <option value="/">/</option>
            <option value="*">*</option>
            <option value="-">-</option>
        </select>
        <label>Y:</label>
        <input type="number"  name="y" />
        <button type="submit">Calculate</button>
    </form>
    <label>Result = @Model</label>
</body>
</html>